/* setting ▼
===================================================  */
// 色
$color-blue: #3569c9;
$color-lightBlue: #33b1cc;
$color-lightGreen: #44b700;
$color-green: #016d3b;
$color-red: #ce0004;
$color-grey: #999;
$color-darkGrey: #666;