@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

@mixin bg-image-retina($image, $fixsize: true) {
    background-image: image-url($image);

    // If we have a retina image then add styles for it too
    @if file_exists(retina_filename($image))
    {
        @media #{$retina-display}
        {
            @if $fixsize == true {
                @include background-size(image-width($image) auto);                
            }
            background-image: image-url(retina_filename($image));
        }
    }
}

@mixin font-size($sizeValue: 1.3){
  font-size: ($sizeValue * 10) + px; // rem未対応ブラウザのfallback
  font-size: $sizeValue + rem;
}
@mixin line-height($sizeValue: 1.3){
  line-height: ($sizeValue * 10) + px; // rem未対応ブラウザのfallback
  line-height: $sizeValue + rem;
}
@mixin letter-spacing($sizeValue: .08){
  letter-spacing: ($sizeValue * 10) + px; // rem未対応ブラウザのfallback
  letter-spacing: $sizeValue + rem;
}

@mixin sprite-background($name, $sprites, $sprites-img) {
  background-image: $sprites-img;
  background-repeat: no-repeat;
  display: block;
  height: image-height(sprite-file($sprites, $name));
  width: image-width(sprite-file($sprites, $name));
  $ypos: round(nth(sprite-position($sprites, $name), 2));
  background-position: 0 $ypos;
  @include background-size(ceil(image-width(sprite-path($sprites))), auto);
}

@mixin sprite-background-retina($name, $sprites, $sprites-img, $sprites-retina, $sprites-img-retina) {
  background-image: $sprites-img;
  background-repeat: no-repeat;
  display: block;
  height: image-height(sprite-file($sprites, $name));
  width: image-width(sprite-file($sprites, $name));
  $ypos: round(nth(sprite-position($sprites, $name), 2));
  background-position: 0 $ypos;
  @include background-size(ceil(image-width(sprite-path($sprites))), auto);
  
  @media #{$retina-display} {
    background-image: $sprites-img-retina;
  }
}

/* ---------------------------------
 original ↓ 
--------------------------------- */


$set_prefix: -webkit-, -moz-, -ms-, '';
@mixin bg_size($bgs_w, $bgs_h: auto) {  
    @each $prefix in $set_prefix {  
        #{$prefix}background-size: $bgs_w $bgs_h;  
    }
}

@mixin grd_vertical($top_color,$btm_color){
  @include background-image(linear-gradient(to bottom, $top_color 0%,$btm_color 100%));
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}


// レスポンシブル
$TBPoint:    1023px;
$SPPoint:    768px;
// $SPPoint:    768px;
@mixin TB {
  @media only screen and (max-width: $TBPoint - 1) {
    @content;
  }
}

@mixin SP {
  @media only screen and (max-width: $SPPoint - 1) {
    @content;
  }
}
@mixin SP_wide { // SPPointより大きい時
  @media only screen and (min-width: $SPPoint) {
    @content;
  }
}


/* ---------------------------------
  placeholder
--------------------------------- */
%greenTitle {
  margin: 0;
    background-color: #0e6c3d;
    color: #fff;
    border: none;
    @include font-size(1.8);
}
.btn {
  display: inline-block;
  padding: 10px;
  color: #fff;
  @include font-size(1.8);
  @include line-height(3);
  @include appearance(none);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 2px rgba(255,255,255,.3));
  @include box-sizing(border-box);
  border: none;
  text-decoration: none;
}
%btnList {
    .btnWrap {
      width: 100%;
      text-align: center;
      a {
        display: inline-block;
        min-width: 220px;
        margin: 0 10px;
        padding: 15px;
        color: #fff;
        @include font-size(2);
        @include line-height(2);
        @include letter-spacing(.1);
        @include border-radius(5px);
        text-decoration: none;
        &.btnLightGreen {background-color: $color-lightGreen;}
        &.btnLightBlue {background-color: $color-lightBlue;}
        &.btnBlue {background-color: $color-blue;}
        &:hover {@include opacity(.9);}
      }
    }
    @include SP {
      .btnWrap {
        a {
          min-width: 126px;
          margin: 0 0 5px;
          padding: 12px;
          @include font-size(1.6);
          @include line-height(1.8);
          &:last-child {margin-bottom: 0;}
        }
      }
    }
}
%reward {
    padding: 10px;
    @include font-size(1.3);
    @include line-height(1.8);
    background-color: #cff2cf;
    @include border-radius(5px);
    border: 1px solid #006600;
}
%termsWrap {
  .categoryTermsWrap,.tagTermsWrap {
    display: inline-block;
    ul {
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        margin-bottom: 6px;
      }
    }
    a {
      display: block;
      padding: 2px 8px;
      color: #fff;
      @include border-radius(4px);
      @include font-size(1.2);
      text-decoration: none;
    }
  }

  .categoryTermsWrap li a {background-color: #418bca;}
  .tagTermsWrap li a {
    background-color: #d9544f;
  }
}