/* ===================================================
	 共通パーツ ▼
===================================================  */


#main #container .content {
	width: 680px;
	@include SP {width: 100%;}
}

// header
#header {
	#site-title {
		margin-right: 38px;
		a:hover {
			@include opacity(.8);
		}
	}
	#headContact {
		max-width: 700px;
		width: 100%;
		margin: 10px 0 20px;
		text-align: left;
		float: left;
		#headContactInner {
			display: table;
			> div {
				display: table-cell;
				padding-left: 12px;
				vertical-align: top;
				&:first-child {padding-left: 0;}
				&#headContactTxt { //　無料相談お問合せ
					font-weight: bold;
					@include font-size(1.5);
					@include line-height(2.2);
					span {
						color: $color-green;
					}
				}
				&.telNumTime {
					#headContactTel {
						margin-bottom: 5px;
						padding-left: 30px;
						color: $color-red;
						font-family: arial,helvetica;
					}
					#headContactTime {
						@include font-size(1.1);
					}
				}
				&.btnWrap {
					a {
						display: inline-block;
						margin-right: 4px;
						padding: 6px 10px;
						color: #fff;
						text-decoration: none;
						@include font-size(1.1);
						@include line-height(1.5);
						@include border-radius(6px);
						text-align: center;
						&.contact {
							background-color: $color-lightGreen;
						}
						&.apply {
							background-color: #2180ac;
						}
						&:hover {
							@include opacity(.9);
						}
					}
				}
				&.rightBox {
					padding-left: 32px;
					.snsBtn {
						margin-bottom: 6px;
						li {
							display: inline-block;
						}
					}
					.total {
						width: 190px;
						margin: 0 0 4px;
						@include font-size(1.1);
						@include line-height(1.5);
						@include clearfix;
						&:last-child {margin-bottom: 0;}
						dt {
							float: left;
						}
						dd {
							float: right;
						}
					}
				}
			}
		}
	}
	@include SP {
		#headContact {
			padding: 0 10px;
			#headContactInner {
				width: 100%;
				> div {
					display: block;
					padding: 0;
					&#headContactTxt {
						@include font-size(1.3);
						span {margin-right: 10px;}
						br {display: none;}
					}
					&.telNumTime {
						#headContactTel a {
							color: $color-red;
						}
						#headContactTime {
							@include font-size(1);
						}
					}
					&.btnWrap {
						margin: 12px auto;
						a {
							width: 130px;
							margin-right: 10px;
							padding: 10px;
							@include font-size(1.3);
							br {display: none;}
						}
					}
					&.rightBox {
						width: 100%;
						padding-top: 16px;
						border-top: 1px solid #ccc;
					}
				}
			}
		}
	}
}


// Side Tower
#sideTower {
	.sideWidget {
		h3 {
			@extend %greenTitle;
		    padding: 6px 10px;
		   	@include font-size(1.4);
		}
		> .ttBoxSection {
			padding-bottom: 0;
			border: 1px solid $color-darkGrey;
			.ttBox {
				padding: 0;
				border: none;
				border-bottom: 1px dotted $color-darkGrey;
				&:last-child{border-bottom: none;}
				div {
					a {
						display: block;
						padding: 6px 10px;
						color: $color-blue;
						font-size: 80%;
						background-image: none;
						p {

						}
					}
				}
			}
			.more {
				a {
					display: block;
					padding: 4px 10px;
					text-align: right;
					text-decoration: none;
					color: $color-blue;
					font-size: 80%;
					&:hover {
						background-color: #efefef;
					}
				}
			}
		}
	}
}


.btnWrap {
	width: 100%;
	text-align: center;
	a {
		display: inline-block;
		width: 200px;
		margin: 0 10px;
		padding: 12px;
		color: #fff;
		@include font-size(1.6);
		@include line-height(2);
		@include border-radius(5px);
		text-decoration: none;
		&.btnLightGreen {background-color: $color-lightGreen;}
		&.btnLightBlue {background-color: $color-lightBlue;}
		&.btnBlue {background-color: $color-blue;}
		&:hover {@include opacity(.9);}
	}
}