
/* =================================================== 
	全国の就労移行支援事業所を探す 
	セミナー・説明会検索  ▼
===================================================  */

.searchArea {
	display: block;
	@include clearfix;
	width: 100%;
	.searchBox {
		width: 580px;
		float: left;
		h2 {
			@extend %greenTitle;
			padding: 8px 10px;
		}
		.inner {
			padding: 20px 30px;
			border: 1px solid $color-grey;
			border-top: none;
			@include clearfix;
			form#searchform {
				float: left;
				margin: 30px 30px 0 0;
				dl {
					display: table;
					margin-bottom: 10px;
					> * {display: table-cell;}
					dt {
						color: #333;
						padding-right: 20px;
					}
					dd {
						select option {
							padding: 5px;
						}
					}
				}
				label {
					display: block;
					margin-bottom: 30px;
				}
				select {margin-left: 5px;}
				input#s {
					width: 100%;
					margin-left: 0;
					float: none;
				}
				input#searchsubmit {
					display: block;
					width: auto;
					margin: 20px auto 30px;
					padding: 10px;
					background-color: $color-green;
					float: none;
					@include font-size(1.4);
				}
			}
			.calenderWrap {
				float: left;
			}
			@include SP {
				form#searchform {
					margin: 0;
					float: none;
				}
				.calenderWrap {
					float: none;
				}

			}
		}
	}
	.consultBox {
		width: 330px;
		height: 100%;
		padding: 15px;
		border: 1px solid $color-grey;
		float: right;
		.btn {
			padding: 10px;
			background-color: $color-lightGreen;
		}
	}
	.btn {
		display: block;
		width: 120px;
		margin: 0 auto;
		text-align: center;
		@include font-size(1.6);
		@include line-height(2);
	}

	@include SP {
		> div {float: none;}
		.searchBox {
			width: 100%;
			margin-bottom: 20px;
			padding-right: 0;
		}
		.consultBox {
			width: 100%;
		}
	}

}


form#searchform {
	background-color: transparent;
	padding: 0;
}


 /*	セミナー説明会検索　個別スタイル
 ===================================== */
.post-type-archive-info {
	.searchArea {
		.searchBox {
			width: 100%;
		}
	}
}