
/* =================================================== 
	全国の就労移行支援事業所を探す 
	セミナー・説明会検索  ▼
===================================================  */

.searchArea {
	display: block;
	@include clearfix;
	width: 100%;
	margin-bottom: 40px;
	.searchBox {
		width: 580px;
		float: left;
		h2 {
			@extend %greenTitle;
			padding: 8px 10px;
		}
		.inner {
			padding: 30px;
			border: 1px solid $color-grey;
			border-top: none;
			@include clearfix;
			form#searchform {
				float: left;
				margin: 30px 30px 0 0;
				label {
					display: block;
					margin-bottom: 20px;
				}
				.select-box {
					@include clearfix;
					.search--form--select {
						float: right;
						margin-left: 20px;
					}
				}
				input#s {
					width: 100%;
					margin-left: 0;
					float: none;
				}
				input#searchsubmit {
					display: block;
					width: 160px;
					margin: 20px auto 0;
					padding: 12px;
					background-color: $color-green;
					float: none;
					@include font-size(1.5);
				}
			}
			@include SP {
				padding: 20px;
				form#searchform {
					margin: 0;
					float: none;
				}
				.calenderWrap {
					float: none;
					margin-top: 30px;
				}

			}
		}

		&.for_lawyer .inner { //全国の就労移行支援事業所検索用スタイル
			form#searchform {
				float: none;
				display: block;
				width: 90%;
				margin: 0 auto;
				.select-box {
					.search--form--select {
						margin-left: 0;
						margin-top: 10px;
					}
				}
			}
		}
		&.for_seminar .inner { //セミナー検索用スタイル
				
			form#searchform {
				input#s {margin-top: 10px;}
				input#searchsubmit {margin-top: 40px;}
			}
			.calenderWrap {
				float: right;
			}
		}
	}
	.consultBox {
		width: 330px;
		height: 100%;
		padding: 15px;
		border: 1px solid $color-grey;
		float: right;
		.btn {
			padding: 10px;
			background-color: $color-lightGreen;
		}
	}
	.btn {
		display: block;
		width: 120px;
		margin: 0 auto;
		text-align: center;
		@include font-size(1.6);
		@include line-height(2);
	}

	@include SP {
		> div {float: none;}
		.searchBox {
			width: 100%;
			margin-bottom: 20px;
			padding-right: 0;
		}
		.consultBox {
			width: 100%;
		}
	}

}


form#searchform {
	background-color: transparent;
	padding: 0;
}


 /*	セミナー説明会検索　個別スタイル
 ===================================== */
.post-type-archive-info {
	.searchArea {
		.searchBox {
			width: 100%;
		}
	}
}